<br>
<div class="container30"><!-- Start container30 -->
	<div class="col-xs-4">
		<div class="box1">
			<div class="head">					
				<h1>€ 9,99/mo</h1>
				<h2 style="color: #fff;">Bronze</h2>
			</div>
			<div class="body">
				<p><b>Unlimited</b> Email Addresses</p>
				<p><b>50BG</b> Disk Space</p>
				<p><b>Unlimited</b> MYSQL Databases</p>
				<p><b>Unlimited</b> Domains</p>
				<p><b>Free</b> Billing Systems</p>
				<div class="footer">
					<!-- <button calss="btn btn-defautl" type="button">SIGN UP</button> -->
					<%= link_to new_charge_path(plan: "bronze", user: current_user) do %>
						<button calss="btn btn-defautl" type="button">SIGN UP</button>
					<% end %>
				</div>
			</div>
		</div><!-- END Box1 -->
	</div><!-- END Colum1 -->
	<div class="col-xs-4">
		<div class="box2">
			<div class="head">					
				<h1>€ 12,99/mo</h1>
				<h2 style="color: #fff;">Silver</h2>
			</div>
			<div class="body">
				<p><b>Unlimited</b> Email Addresses</p>
				<p><b>80BG</b> Disk Space</p>
				<p><b>Unlimited</b> MYSQL Databases</p>
				<p><b>Unlimited</b> Domains</p>
				<p><b>Free</b> Billing Systems</p>
				<div class="footer">
					<!-- <button calss="btn btn-defautl" type="button">SIGN UP</button> -->
					<%= link_to new_charge_path(plan: "silver", user: current_user) do %>
						<button calss="btn btn-defautl" type="button">SIGN UP</button>
					<% end %>
				</div>
			</div>
		</div><!-- END Box2 -->
	</div><!-- END Colum2 -->
	<div class="col-xs-4">
		<div class="box3">
			<div class="head">					
				<h1>€ 19,99/mo</h1>
				<h2 style="color: #fff;">Gold</h2>
			</div>
			<div class="body">
				<p><b>Unlimited</b> Email Addresses</p>
				<p><b>120BG</b> Disk Space</p>
				<p><b>Unlimited</b> MYSQL Databases</p>
				<p><b>Unlimited</b> Domains</p>
				<p><b>Free</b> Billing Systems</p>
				<div class="footer">
					<!-- <button calss="btn btn-defautl" type="button">SIGN UP</button> -->
					<%= link_to new_charge_path(plan: "gold", user: current_user) do %>
						<button calss="btn btn-defautl" type="button">SIGN UP</button>
					<% end %>
				</div>
			</div>
		</div><!-- END Box3 -->
	</div><!-- END Colum3 -->	
</div><!-- END container30 -->