<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/statics/index"><img src="http://res.cloudinary.com/dezg5tuwh/image/upload/v1496831640/moviepng_qvil7x.png" class="img-responsive imagen1"> </a>
    </div>
    <ul class="nav navbar-nav">
      <li><a class="menu_header" href="peliculas/index">Estrenos</a></li>
      <li class="dropdown"><a class="menu_header" class="dropdown-toggle" data-toggle="dropdown" href="#"> Noticias <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Próximamente</a></li>
          <li><a href="#">Canceladas</a></li>
          <li><a href="#">Backstage</a></li>
        </ul>
      </li>
      <li><a class="menu_header" href="#">Lo más visto</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    	<li><div class="link"> <a href="#"><span class="glyphicon glyphicon-bullhorn"><b> <%= link_to " ¿Quienes somos?", about_path %></b> </span> </div></a></li>
      <li><div class="link"><a href="#"><span class="glyphicon glyphicon-user"><b> <%=link_to " Sign up", new_user_registration_path %> </b></span></a></div></li>
      <li><div class="link"><a href="#"><span class="glyphicon glyphicon-log-in"><b><%=link_to " Login", new_user_session_path %></b></span></a></div></li>
    </ul>
  </div>
</nav>
<br><h1>Películas - Series - Cine</h1><hr>	