<!-- enlace a header-->
<%= render "shared/header" %>
<br>
<!-- estilo letra de about-->
<link href="https://fonts.googleapis.com/css?family=Lobster|Mogra" rel="stylesheet">
<style>
	body {
		font-family: 'Mogra', cursive;
	}
</style>
<!-- cuerpo about-->
<div class="sobre-nosotros">
	Sobre Movie 3000

</div>

<!-- enlace a footer-->
<%= render "shared/footer" %>