// Place all the styles related to the statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import'variables';

div ul li {
	left: 10px;
	margin: 10px 5px 10px 5px;
	padding: 10px 5px 10px 5px;
}
b {
		padding: 10px 10px 10px 10px;
}
div h1 {
	color: white;
}
.navbar-inverse {
	height: 150px;
}
.imagen {
	position: relative;
	top: -30px;
	left: 30px;
	background-color: #F2F2F2;
}
.linea1 {
	background-color: #B40404;
	width: 100%;
	height: 30px;
	position: absolute;
	top: 150px;
}

.pelistop {
	position: absolute;
	top: 185px;
	left: 35px;
}

.parte3 {
	position: absolute;
	top: 530px;
	left: 35px;
}
.parte4 {
	position: absolute;
	top: 800px;
	left: 35px;
}
.final {
	position: absolute;
	top: 1050px;
	background-color: #8A0808;
	width: 100%;
	height: 200px;
}