// Place all the styles related to the statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import'variables';

nav {
	height: 150px;
}
.imagen {
	position: relative;
	top: -30px;
	left: 30px;
	background-color: #F2F2F2;
}