<h2>Thanks, you paid <strong>$5.00</strong>!</h2>
<h3><li><%=link_to "Inicio", root_path %></li></h3>
<h3><li><a href="settings/index">Settings</a></li></h3>
<h3><li><a href="peliculas/index"> Películas</a></li></h3>